<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abbyy.cloudocr"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="com.abbyy.cloudocrclient.database.READ_TASKS"
        android:description="@string/permission_provider_read_description"
        android:label="@string/permission_provider_read_label"
        android:protectionLevel="signature" >
    </permission>
    <permission
        android:name="com.abbyy.cloudocrclient.database.WRITE_TASKS"
        android:description="@string/permission_provider_write_description"
        android:label="@string/permission_provider_write_label"
        android:protectionLevel="signature" >
    </permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/abbyy_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.abbyy.cloudocr.StartActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.abbyy.cloudocr.SettingsActivity"
            android:label="@string/settings" >
        </activity>
        <activity
            android:name="com.abbyy.cloudocr.TaskDetailsActivity"
            android:label="@string/task_details" >
        </activity>
        <activity android:name="com.abbyy.cloudocr.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.abbyy.cloudocr.CreateTaskActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="image/*" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.abbyy.cloudocr.database.TasksProvider"
            android:authorities="com.abbyy.cloudocr.database.TasksProvider"
            android:readPermission="@string/permission_provider_read"
            android:writePermission="@string/permission_provider_write" >
        </provider>
    </application>

</manifest>